:root {
  --brand-color: #2196f3;
  --main-color: #212121;
  --extra-color: #fff;
  --text-color: #757575;
}

body {
  color: var(--main-color);
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.7;
}

.logo {
  color: var(--brand-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.first-logo {
  color: #000000;
}

.last-logo {
  color: var(--extra-color);
}

/*Check сategory nav and header*/
.header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.2;
}

.header-nav,
.header-info {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}
